{% extends "::base.html.twig" %}

{% block title %}ProjetLolSearchBundle:Event:rechercherEvent{% endblock %}

{% block body %}

<div class="col-md-3">
{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_label(form.Nom)}}
{{ form_errors(form.Nom)}}
{{ form_widget(form.Nom)}}

<div class="separeBot"></div>

<button type="submit" class='btn btn-primary'>Rechercher</button></div>
{{ form_end(form) }}
<div class='col-md-6 col-md-offset-1'>
{% if recherche is not empty %}
	{% for event in recherche %}

		<li>{{ event.nom }} - {{event.adresse}}</li>

	
	{% endfor %}	
{% endif %}</div>
{% endblock %}